/*******HEADER******/

header {
	border: 1px solid green;
}

header ul li {
	display: inline-block;
	margin-right: 2em;
}

/*****DIV'S******/

div.month-list ul {
	list-style-type: none;
}

div.month-list ul li {
	display: inline;
	float: left;
	margin-right: .5em;
}

div#color1 {
	color: red;
}

div#color2 {
	color: blue;
}

div.promo {
	font-weight: 800;
	color: gold;
}

/**Headings****/

h4#red1 {
	background-color: red;
}

h4#blue1 {
	background-color: blue;
}

h4#grand {
	border: 1px solid black;
	border-radius: 15%;
}
/***Classes***/

.disabled {
	color: grey;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}

/***Elements***/

footer span input {
	height: 25px;
}